# 1b - Getting and Knowing your Data with Pandas

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter="\t")

In [4]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
len(chipo.index)

4622

### Step 6. What is the number of columns in the dataset?

In [8]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [9]:
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. Which was the most-ordered item?

In [19]:
agg_sum_order = chipo.groupby("item_name").aggregate({"quantity": "sum"})
idx = agg_sum_order["quantity"].idxmax()

# Most ordered item
agg_sum_order.loc[idx]

quantity    761
Name: Chicken Bowl, dtype: int64

### Step 9. For the most-ordered item, how many items were ordered?

In [22]:
int(agg_sum_order.loc[idx]["quantity"])

761

### Step 10. What was the most ordered item in the choice_description column?

In [36]:
most_ordered_choices = chipo.groupby("choice_description").aggregate({"quantity": "sum"}).sort_values("quantity", ascending=False)
most_ordered_choices.head(10)

# print("------------")
# print("The most ordered choice is:")

# most_ordered_choice = most_ordered_choices["quantity"].idxmax()
# print(most_ordered_choice)

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        40
[Lemonade]                                                36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...        36
[Coca Cola]                                               32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...        30

### Step 11. How many items were orderd in total?

In [40]:
print(chipo["quantity"].sum())

4972

### Step 12. Turn the item price into a float (nothing to do under this cell, check the subtasks bellow)

#### Step 12.a. Check the item price type

In [46]:
chipo["item_price"].dtype

dtype('O')

In [49]:
chipo["item_price"]

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

#### Step 12.b. Create a function that will change the type of item price to `float`

In [67]:
def convert_price_to_float(price):
    
    return float(price[1:])

#### Step 12.c. Apply the function from the previous question to the item price using `map` or `apply` functions

In [73]:
chipo_converted = chipo.copy()

chipo_converted["item_price"] = chipo_converted["item_price"].map(convert_price_to_float)

chipo_converted.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Step 13. How much was the revenue for the period in the dataset?

In [78]:
# NOTE_ This line below is also allowed, and might be a bit more readable. However in the cases where some filtering is applied then line actually used is better
# chipo_converted["total_price"] = chipo_converted["quantity"] * chipo_converted["item_price"]
chipo_converted['total_price'] = chipo_converted.apply(lambda row: row['quantity'] * row['item_price'], axis=1)

print(chipo_converted["total_price"].sum())

39237.02

### Step 14. How many orders were made in the period?

In [82]:
len(chipo_converted.groupby("order_id"))

1834

### Step 15. What is the average revenue amount per order?

In [86]:
orders = chipo_converted.groupby("order_id")
print(orders.aggregate({"total_price": "sum"})["total_price"].mean())

21.39423118865867

### Step 16. How many different items are sold?

In [88]:
len(chipo_converted.groupby("item_name"))

50