# 1b - Getting and Knowing your Data with Pandas

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter="\t")

In [ ]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
len(chipo.index)

4622

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. Which was the most-ordered item?

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

### Step 9. For the most-ordered item, how many items were ordered?

### Step 10. What was the most ordered item in the choice_description column?

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

### Step 11. How many items were orderd in total?

In [ ]:
df["quantity"].sum()

4972

### Step 12. Turn the item price into a float (nothing to do under this cell, check the subtasks bellow)

#### Step 12.a. Check the item price type

dtype('O')

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

#### Step 12.b. Create a function that will change the type of item price to `float`

#### Step 12.c. Apply the function from the previous question to the item price using `map` or `apply` functions

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 13. How much was the revenue for the period in the dataset?

### Step 14. How many orders were made in the period?

### Step 15. What is the average revenue amount per order?

### Step 16. How many different items are sold?